Source: droid-fonts
Section: gui
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Homepage: http://android.git.kernel.org/?p=platform/frameworks/base.git;a=tree;f=data/fonts;hb=HEAD
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 7)
XCS-Cross-Host-Build-Depends: debhelper (>= 7)
XS-Vcs-Git: http://git.iplinux.org/droid-fonts.git
XS-Vcs-Browser: http://git.iplinux.org/droid-fonts.git

Package: droid-fonts
Architecture: all
Description: Droid fonts family
 Droid Freetype fonts family from Android project.

Package: droid-fallback-fonts
Architecture: all
Description: Droid fonts family - fallback font
 Droid Freetype fonts family from Android project.
 .
 This package contains huge "fallback" font.
